#piantina {
  display: flex;
  flex-direction: row;
  gap: 5ch;
}

.colonna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 10ch;
  gap: 1ch;
}

.coppia {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 1ch;

}

.coppia div {
  background: azure;
  padding: .5ch;
  border: 2pt solid black;
  flex: 1 1 5ch;
  display: flex;
  justify-content: center;
}

.testo_banco {
  flex: 1 1 5ch;
  min-width: 5ch;
  width: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px dotted gray;
  text-align: center;
}