/* open-sans-latin-wght-normal */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wdth-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*https://colorhunt.co/palette/6326269d5353bf8b67dacc96*/

:root {
  --color-dark: #322C2B;
  --color-meddar: #803D3B;
  --color-medlig: #AF8260;
  --color-light: #E4C59E;
  --color-lighter: #FFE1BC;
  --color-darkgray: #303030;
}

* {
  font-family: "Open Sans Variable", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-light);
}

#top_bar_bg {
  background: var(--color-meddar);
  height: 3rem;
  padding: 1ch;
}

#bottom_bar_bg {
  background: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  height: 3rem;
  padding: 1ch;
}


h1 {
  color: var(--color-light);
  font-weight: 800;
  max-width: 25cm;
  margin: auto
}

.subtitle {
  color: var(--color-meddar);
  font-weight: 600;
  margin-top: 0;
}

#content {
  max-width: 25cm;
  margin: auto;
  color: var(--color-dark);
}

h2 {
  font-weight: 700;
}

a:link,
a:hover,
a:active,
a:visited {
  color: inherit;
}

a:hover {
  font-weight: 500;
}

#in_format,
#in_nomi {
  background: #ffe1bc;
  border: 1pt solid var(--color-dark);
  font-size: 11pt;
  color: var(--color-meddar);
  padding: .2ch;
}

button {
  background: transparent;
  border: 2pt solid var(--color-meddar);
  border-radius: .5ch;
  font-size: 11pt;
  font-weight: 600;
  padding: .2ch;
  color: var(--color-meddar);
}

button:hover {
  background: var(--color-meddar);
  color: var(--color-light);
}

button:active {
  background: var(--color-dark);
  border-color: var(--color-dark);
}

.piantina button {
  width: 15pt;
  height: 15pt;
  padding: 1pt;
  background: transparent;
  color: var(--color-darkgray);
  border: none;
}

.piantina button:hover {
  background: var(--color-darkgray);
  color: white;
}

svg {
  width: 90%;
  height: 90%;
}

#piantina {
  margin-bottom: 10cm;
  padding: 1rem;
  border: 1pt solid var(--color-dark);
  background-color: white;
}

.piantina {
  display: flex;
  flex-direction: row;
  gap: 2ch;
}

#piantina_rev {
  flex-direction: row-reverse;
  margin-top: 7cm;
}

.colonna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 1ch;
}

#piantina_rev .colonna {
  flex-direction: column-reverse;
}

.coppia {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid black;
  border-width: 2pt 0 0 2pt;
}

#piantina_rev .coppia {
  flex-direction: row-reverse;
}

.coppia div {
  background: white;
  padding: .5ch;
  min-width: 5ch;
  min-height: 2ch;
  border: solid black;
  border-width: 0 2pt 2pt 0;
  flex: 1 1 5ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testo_banco {
  flex: 1 1 5ch;
  font-size: 12pt;
  min-width: 5ch;
  width: 1px;
  background: transparent;
  border: none;
  border-bottom: 1pt solid var(--color-darkgray);
  text-align: center;
  font-stretch: inherit;
  font-weight: inherit;
}

#foglio_stampa {
  background-color: white;
}

/*
The goal is to have 

for a 2cm cell -> stretch 75%, weight 350
for a 3.3cm cell -> stretch 100%, weight 400

Using linear interpolation we have
stretch = 19.2*(size-2)+75
weight = 38,5*(size-2)+350

but its too difficult :(

*/

#foglio_stampa .coppia div {
  font-stretch: 85%;
  font-weight: 350;
  font-size: 10pt;
  text-align: center;
}