body {
  max-width: 24cm;
}

#piantina {
  margin-bottom: 10cm;
}

.piantina {
  display: flex;
  flex-direction: row;
  gap: 2ch;
}

#piantina_rev {
  flex-direction: row-reverse;
  margin-top: 7cm;
}

.colonna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 10ch;
  gap: 1ch;
}

#piantina_rev .colonna {
  flex-direction: column-reverse;
}

.coppia {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  border: solid black;
  border-width: 2pt 0 0 2pt;
}

#piantina_rev .coppia {
  flex-direction: row-reverse;
}

.coppia div {
  background: white;
  padding: .5ch;
  min-width: 5ch;
  min-height: 2ch;
  border: solid black;
  border-width: 0 2pt 2pt 0;
  flex: 1 1 5ch;
  display: flex;
  justify-content: center;
}

.testo_banco {
  flex: 1 1 5ch;
  font-size: 12pt;
  min-width: 5ch;
  width: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px dotted gray;
  text-align: center;
}